.dh {
    &__filters {

        a {
            color: var(--dark);
            display: inline-block;
            background: transparent;
            border: none;
            box-shadow: none;
            cursor: pointer;
            border-radius: 3px;
            margin: 0 5px;
            padding: 5px 10px;
            border-bottom: 2px solid transparent;
            outline: none;
            text-decoration: none;

            &:hover,
            &:focus {
                color: #fff;
                background: var(--primary);
            }

        }

        .active {
            font-weight: 600;
            border-radius: 0;
            border-bottom: 2px solid var(--primary);

            &:hover,
            &:focus {
                color: var(--dark);
                background: transparent;
            }
        }
        
    }
}