.dh {
    &__box {
        padding: 15px;
        border-radius: 3px;
        border: 1px solid #ddd;
        background: #fff;
        margin-bottom: 15px;
        &.__page {
            min-height: 80vh;
        }
    }
}
