.dh {
    &__tags {
        padding: 10px;
        .list {
            a {
                display: block;
                color: var(--gray);
                padding: 10px 15px;
            }
            .active {
                color: var(--dark);
                font-weight: 600;
                pointer-events: none;
            }
        }
    }
}