.dh {
    &__chat {
        &_container {
            padding: 10px;
            background: #fff;
            border: 1px solid #ddd;

            .messages {
                padding: 10px;
                height: 400px;
                overflow-y: auto;
            }

            .form {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    width: 100%;
                    display: block;
                    border-radius: 0;
                }

                button {
                    width: 100px;
                    border-radius: 0
                }
            }
        }


    }
}
